<div class="container-fluid">
<h1>Places</h1>

<p>
  <button class="btn btn-secondary" onclick="window.location.href='/places/new'">New Place</button>
</p>

<% if @current_user %>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<% end %>
</div>